<section class="dashboard-design2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box text-start">
                    <h5 class="page-title"><i class="mdi mdi-monitor-dashboard"></i> Dashboard</h5>
                </div>
            </div>
        </div>
      
        <div class="col-12">
            <div class="card rounded-4 shadow-lg">
                <div class="card-body p-1">
                    <div class="row row-cols-1 row-cols-xl-5 row-cols-md-5 ">

                        <div class="col">
                            <div class="card bg-1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-7 col-12">
                                            <h5>Total Births Registered</h5>
                                            <h1>25,78986</h1>
                                        </div>
                                        <div class="col-xl-5 col-12">
                                            <div class="row count py-2">
                                                <div class="col-xl-12">
                                                    <p class="mb-0 fs-6 lh-1">Today : <strong class="mb-0 fw-bold">18900</strong>
                                                    </p>
                                                </div>
                                                <div class="col-xl-12">
                                                    <p class="mb-0 fs-6 lh-1">This Month : <strong
                                                            class="mb-0 fw-bold">14,87895</strong></p>
                                                </div>
                                                <div class="col-xl-12">
                                                    <p class="mb-0 fs-6 lh-1">This Year : <strong
                                                            class="mb-0 fw-bold">15,95625</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="card bg-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-8 col-12">
                                            <h5>Total Deaths Registered</h5>
                                            <h1>56366</h1>
                                        </div>
                                        <div class="col-xl-4 col-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="card bg-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-8 col-12">
                                            <h5>Gender Ratio</h5>
                                            <h1>10,48558</h1>
                                        </div>
                                        <div class="col-xl-4 col-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="card bg-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-8 col-12">
                                            <h5>Registrations with Timeframe</h5>
                                            <h1>25,89558</h1>
                                        </div>
                                        <div class="col-xl-4 col-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="card bg-5">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-8 col-12">
                                            <h5>Infant Mortality Rate</h5>
                                            <h1>11,58458</h1>
                                        </div>
                                        <div class="col-xl-4 col-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    </div>
</section>



<div class="">
    <section class="dashboard-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-12">
                    <div class="card br1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3 col-4">
                                    <img src="assets/images/birth.png" class="">
                                </div>
                                <div class="col-xl-9 col-8">
                                    <h4 class="">Total Births Registered</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <h5>Today</h5>
                                    <p>1895</p>
                                </div>
                                <div class="col-md-4 col-4">
                                    <h5>This Month</h5>
                                    <p>15454</p>
                                </div>
                                <div class="col-md-4 col-4">
                                    <h5>This Year</h5>
                                    <p>12588</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="card br2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3 col-4">
                                    <img src="assets/images/death.png" class="">
                                </div>
                                <div class="col-xl-9 col-8">
                                    <h4 class="">Total Deaths Registered</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <h5>Today</h5>
                                    <p>5698</p>
                                </div>
                                <div class="col-md-4 col-4">
                                    <h5>This Month</h5>
                                    <p>11025</p>
                                </div>
                                <div class="col-md-4 col-4">
                                    <h5>This Year</h5>
                                    <p>185698</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="card br4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3 col-4">
                                    <img src="assets/images/gender.png" class="">
                                </div>
                                <div class="col-xl-9 col-8">
                                    <h4 class="">Gender Ratio</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <h5>Male Births</h5>
                                    <p>45208</p>
                                </div>
                                <div class="col-md-5 col-4">
                                    <h5>Female Births</h5>
                                    <p>35829</p>
                                </div>
                                <div class="col-md-3 col-4">
                                    <h5>Ratio</h5>
                                    <p>80:90</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="card br3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-2 col-4">
                                    <img src="assets/images/timeframe.png" class="">
                                </div>
                                <div class="col-xl-6 col-8">
                                    <h4 class="">Registrations(Birth and Death)</h4>
                                </div>
                                <div class="col-md-4 col-4">
                                    <h5>Percentage</h5>
                                    <p>92%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="card br5">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-2 col-3">
                                    <img src="assets/images/infant.png" class="">
                                </div>
                                <div class="col-xl-6 col-6">
                                    <h4 class="">Infant Mortality Rate</h4>
                                </div>
                                <div class="col-xl-4 col-3">
                                    <h5>This Year</h5>
                                    <p>92%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="charts-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div style="height: 350px;width: 100%;display: block;">
                                <apx-chart
                                  [series]="chartOptions1.series"
                                  [chart]="chartOptions1.chart"
                                  [xaxis]="chartOptions1.xaxis"
                                  [stroke]="chartOptions1.stroke"
                                  [colors]="chartOptions1.colors"
                                  [dataLabels]="chartOptions1.dataLabels"
                                  [legend]="chartOptions1.legend"
                                  [markers]="chartOptions1.markers"
                                  [grid]="chartOptions1.grid"
                                  [yaxis]="chartOptions1.yaxis"
                                  [title]="chartOptions1.title"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-0">Birth and Death Comparison of Trends</p>
                            <div style="height: 350px;width: 100%;display: block;">
                                <apx-chart
                                [series]="chartOptions2.series2"
                                [chart]="chartOptions2.chart"
                                [dataLabels]="chartOptions2.dataLabels"
                                [plotOptions]="chartOptions2.plotOptions"
                                [responsive]="chartOptions2.responsive"
                                [xaxis]="chartOptions2.xaxis"
                                [legend]="chartOptions2.legend"
                                [fill]="chartOptions2.fill"
                              ></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-0">Birth and Death by location</p>
                            <div style="height: 350px;width: 100%;display: block;">
                                <apx-chart
                                [series]="chartOptions3.series3"
                                [chart]="chartOptions3.chart"
                                [dataLabels]="chartOptions3.dataLabels"
                                [plotOptions]="chartOptions3.plotOptions"
                                [xaxis]="chartOptions3.xaxis"
                              ></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div style="height: 350px;width: 100%;display: block;">
                                <apx-chart
                                [series]="chartOptions4.series4"
                                [chart]="chartOptions4.chart"
                                [dataLabels]="chartOptions4.dataLabels"
                                [title]="chartOptions4.title"
                                [colors]="chartOptions4.colors"
                              ></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
