<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box text-start">
                <h5 class="page-title"><i class="mdi mdi-account-multiple-outline"></i> Welcome {{displausername}}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12">

            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <h2 class="section-title text-center border-bottom border-light pb-2">Welcome to the Civil Registration System</h2>
                        <div class="col-xxl-9 col-lg-9 col-12">
                            <p class="mb-0">The history of Civil Registration System (CRS) in India dates back to the middle of the 19th century. In 1886, a Central Births, Deaths, and Marriages Registration Act was promulgated to provide for voluntary registration throughout British India.</p>
                            <p class="mb-0">Post-independence, the Registration of Births and Deaths Act (RBD Act) was enacted in 1969 to promote uniformity and comparability in the registration of Births and Deaths across the country and compilation of vital statistics based thereon. With the enactment of the Act, registration of births, deaths, and stillbirths has become mandatory in India.</p>


                            <div class="row justify-content-center mainreg-section">
                                <div class="col-xl-3 col-12 text-center">
                                    <div class="card birth" routerLink="/reg/register-birth">
                                        <div class="card-body">
                                            <img src="assets/images/birth.png" alt="">
                                         <h4><a href="javascript:void()" class="text-white">Birth Registration</a></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-12 text-center">
                                    <div class="card death" routerLink="/reg/register-death">
                                        <div class="card-body">
                                            <img src="assets/images/death.png" alt="">
                                            <h4><a href="javascript:void()" class="text-white">Death Registration</a></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-12 text-center">
                                    <div class="card adopt" routerLink="/reg/adoption-registration">
                                        <div class="card-body">
                                            <img src="assets/images/adoption.png" alt="">
                                         <h4><a href="javascript:void()" class="text-white">Adoption Registration</a></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-12 text-center">
                                    <div class="card stillbirth" routerLink="/reg/still-register-birth">
                                        <div class="card-body">
                                            <img src="assets/images/infant.png" alt="">
                                            <h4><a href="javascript:void()" class="text-white">Still Birth Registration</a></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-xxl-3 col-lg-3 col-12 text-center">
                            <img src="assets/images/cm-chandrababu.png"  class="img-fluid border-3">
                            <h4 class="mb-0">Sri Nara Chandrababu Naidu</h4>
                            <p class="mb-0 lh-sm fs-5">Hon'ble Chief Minister,<br> Government of Andhra Pradesh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>