 .dashboards-section {
  padding: 3px 3px;
 }
 
 .header {
   
      background-color: #036;
      border-bottom: 1px solid #036;
      position: relative;
    
    }

    .header-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.251rem;
    }

    .header img {
      height: 50px;
      width: 250px;
    
      
    }



    /* .stat-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  transition: all 0.3s ease;
 max-height: 200px;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.stat-card p {
  margin: 0;
  font-size: 14px;
  color: #6c757d;
}

.stat-card h3 {
  margin: 5px 0 0;
  font-weight: 700;
  font-size: 22px;
} */

/* Icon styling */
.card-icon {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
}

.img-box {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.black-icon {
  color: #fff;
}

/* Color themes */
.primary .card-icon { background: #0d6efd; }
.success .card-icon { background: #198754; }
.danger .card-icon { background: #dc3545; }
.warning .card-icon { background: #ffc107; color: #000; }
.info .card-icon { background: #0dcaf0; color: #000; }

/* Optional subtle left border */
/* .stat-card.primary { border-left: 4px solid #0d6efd; }
.stat-card.success { border-left: 4px solid #198754; }
.stat-card.danger { border-left: 4px solid #dc3545; }
.stat-card.warning { border-left: 4px solid #ffc107; }
.stat-card.info { border-left: 4px solid #0dcaf0; } */


/* .stat-card {
  opacity: 0;
  transform: translateY(30px) scale(0.98);
  animation: fadeSlideUp 0.6s ease forwards;
} */

/* Keyframes */
@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* .row .col-lg-3:nth-child(1) .stat-card { animation-delay: 0.2s; }
.row .col-lg-3:nth-child(2) .stat-card { animation-delay: 0.4s; }
.row .col-lg-3:nth-child(3) .stat-card { animation-delay: 0.6s; }
.row .col-lg-3:nth-child(4) .stat-card { animation-delay: 0.8s; }
.row .col-lg-3:nth-child(5) .stat-card { animation-delay: 1.0s; }
.row .col-lg-3:nth-child(6) .stat-card { animation-delay: 1.2s; }
.row .col-lg-3:nth-child(7) .stat-card { animation-delay: 1.4s; } */






/* Cards */
.glass-card {
  background: #fff;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  transition: 0.3s;
}

.glass-card:hover {
  transform: translateY(-4px);
}

/* Sidebar */
.sidebar-card {
  background: #fff;
  border-radius: 18px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.mandal-btn {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: #f1f3f5;
  margin-bottom: 8px;
  transition: 0.3s;
}

.mandal-btn.active {
  background: linear-gradient(135deg, #ff7a00, #ff9f43);
  color: white;
}

/* Year buttons */
.year-btn {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #f1f3f5;
}

.year-btn.active {
  background: linear-gradient(135deg, #ff7a00, #ff9f43);
  color: white;
}

.fade-in {
  animation: fadeIn 0.6s ease;
}

.slide-up {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 0.6s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.form-check-label {
  color:#0262c2;
}





.form-check-input {
    border: var(--ct-border-width) solid #0262c2 !important;
  
}


.custom-card {
  border-radius: 20px;
  box-shadow:  0px 0px 35px 0px rgba(154, 161, 171, 0.15) !important;
}


.district-select {
  min-width: 220px;
  border-radius: 10px;
  font-weight: 500;
}

.header-color {
  background-color: linear-gradient(to right, #00356a, #0262c2);;
}

.custom-title {
  color:#1b2d57;
  font-size: 23px;
  font-weight: 600;
}



/* new styles */
.dashboard-wrapper {
    background: #f4f5f7;
    padding: 15px;
}

/* TOP CARDS */

.stats-card {
    height: 100%;
    border-radius: 22px;
    text-align: center;
    padding: 18px;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.15);
    transition: .3s;
}
.growth-rate{
  white-space: nowrap;
}

.stats-card:hover {
    transform: translateY(-4px);
}

.stats-title {
    font-size: 14px;
    font-weight: 600;
}

.stats-subtitle {
    font-size: 12px;
    margin-top: 3px;
    opacity: .8;
}

.stats-count {
    font-size: 34px;
    font-weight: 700;
    margin-top: 12px;
}

/* CARD COLORS */
.population-card-2023 {
  background: #1d5d8f;
  color: #fff;
}

.population-card-2024 {
  background: #f59e0b;
  color: #fff;
}

.population-card-2025 {
  background: #6b7280;
  color: #fff;
}
.population-card-2026 {
  background: #16a34a; /* Green */
  color: #fff;
}

.population-card {
    background: #1d5d8f;
    color: white;
}

.births-card {
    background: #dcebe8;
    color: #1d5b3d;
}

.deaths-card {
    background: #f3e5e5;
    color: #a3392c;
}

.success-card {
    background: #1f8d47;
    color: white;
}

.danger-card {
    background: #cb3b29;
    color: white;
}
.tfr-card {
    background: #5b4db2;
    color: white;
}

/* Sex Ratio */
.sexratio-card {
    background: #e8def8;
    color: #4a2f8f;
}

/* Child Dependency */
.childdep-card {
    background: #fef3d6;
    color: #a36a00;
}

/* Old-age Dependency */
.oldage-card {
    background: #d9ecff;
    color: #0b5cab;
}

/* SIDE CARDS */

.sidebar-card {
    border-radius: 20px;
    height: 880px;
    overflow: hidden;
}

.mandal-card {
    background: #f48a00;
}

.year-card {
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,.12);
}

.sidebar-title {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.year-card .sidebar-title {
    color: #333;
}

.sidebar-scroll {
    height: calc(880px - 60px);
    overflow-y: auto;
    padding: 10px;
}

/* CUSTOM SCROLLBAR */

.sidebar-scroll::-webkit-scrollbar {
    width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.25);
    border-radius: 10px;
}

/* MANDAL BUTTONS */

.sidebar-btn {
    width: 100%;
    border: none;
    background: white;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
}

.sidebar-btn:hover {
      background: #1d5d8f;
    color: white;
}

/* .sidebar-btn.active {
    background: #1d5d8f;
    color: white;
} */


.sidebar-btn.active {
    background: #1d5d8f;
    color: white;
}
/* YEAR BUTTONS */

.year-btn {
    width: 100%;
    border: 1px solid #ddd;
    background: white;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    transition: .3s;
}

.year-btn:hover {
    background: #f7f7f7;
}

.year-btn.active {
    background: #f48a00;
    border-color: #f48a00;
    color: white;
}

/* CHART */

.chart-card {
    background: white;
    border-radius: 22px;
    padding: 20px;
    height: 650px;
    box-shadow: 0 3px 10px rgba(0,0,0,.12);
}

.chart-header {
    margin-bottom: 20px;
}

#chartContainer {
    height: 540px;
}



.year-card {
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,.12);
}

.year-card .sidebar-title {
    color: #333;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

/* Only years section scrolls */
.year-scroll {
    height: 320px;
    overflow-y: auto;
    padding-right: 5px;
}

.year-scroll::-webkit-scrollbar {
    width: 6px;
}

.year-scroll::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 10px;
}

.year-btn {
    width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.year-btn.active {
    background: #f48a00;
    border-color: #f48a00;
    color: #fff;
}

.year-btn:hover {
  background: #f48a00;
    border-color: #f48a00;
    color: #fff;
}
.d-none{
  display: none !important;
}


.stats-card{

    position:relative;

    overflow:hidden;

    background:#fff;

    border-radius:22px;

    padding:22px;

    height:100%;

    box-shadow:
        0 10px 25px rgba(0,0,0,.08);

    transition:.35s;

    border:1px solid #eef2f7;
}

.stats-card:hover{

    transform:translateY(-8px);
cursor: pointer;
    box-shadow:
        0 20px 40px rgba(0,0,0,.12);
}

/* Top */

.card-header-custom{

    display:flex;

    align-items:center;

    gap:15px;
}
.custom-single-line{
    gap:10px !important;
}
.population-2026{
    display: flex;
    flex-direction: column;
    line-height: 1.15;
}

.population-2026 span{
    font-size: 14px;
    font-weight: 600;
    color: #8b95a7;
}

.icon-box{

    width:58px;

    height:58px;

    border-radius:18px;

    background:linear-gradient(135deg,#6C63FF,#4F46E5);

    display:flex;

    justify-content:center;

    align-items:center;

    flex-shrink:0;

    box-shadow:0 8px 18px rgba(108,99,255,.25);
}

.icon-box i{

    font-size:24px;

    color:#fff;
}

.title-section h6{

    margin:0;

    font-size:18px;

    font-weight:700;

    color:#2c3e50;
    
}
.single-line{
    white-space: nowrap;
}

.title-section span{

    font-size:13px;

    color:#8b95a7;
}

/* Count */

.card-body-custom{

    margin-top:28px;
}

.count{
    margin:0;
    font-size:35px;
    font-weight:800;
    color:#27374D;
    letter-spacing:1px;
}

.label{

    margin-top:10px;

    color:#6c757d;

    font-size:14px;

    font-weight:500;
}

/* Bottom Wave */

.wave{

    position:absolute;

    bottom:0;

    left:0;

    width:100%;

    line-height:0;
}

.wave svg{

    display:block;

    width:100%;

    height:65px;
}

.wave path{

    fill:#6C63FF;

    opacity:.12;
}

/* Hover Effect */

.stats-card:hover .icon-box{

    transform:rotate(-8deg) scale(1.08);

    transition:.35s;
}

.stats-card:hover .wave path{

    fill:#6C63FF;

    opacity:.22;

    transition:.35s;
}
/* Wave Colors */
.primary-wave path {
    fill: #4F46E5;
    opacity: .12;
}

.success-wave path {
    fill: #16A34A;
    opacity: .12;
}

.info-wave path {
    fill: #0EA5E9;
    opacity: .12;
}

.warning-wave path {
    fill: #F59E0B;
    opacity: .12;
}

.danger-wave path {
    fill: #EF4444;
    opacity: .12;
}

/* Icon backgrounds */
.bg-primary {
    background: linear-gradient(135deg, #6366F1, #4338CA);
}

.bg-success {
    background: linear-gradient(135deg, #22C55E, #15803D);
}

.bg-info {
    background: linear-gradient(135deg, #38BDF8, #0284C7);
}

.bg-warning {
    background: linear-gradient(135deg, #FBBF24, #D97706);
}

.bg-danger {
    background: linear-gradient(135deg, #F87171, #DC2626);
}

.bg-secondary{
    background:linear-gradient(135deg,#64748B,#475569);
}

.bg-purple{
    background:linear-gradient(135deg,#8B5CF6,#6D28D9);
}

.secondary-wave path{
    fill:#64748B;
    opacity:.12;
}

.purple-wave path{
    fill:#8B5CF6;
    opacity:.12;
}
.mandal_col{
    color: #F59E0B
}












/* new styles */

.district-selected-path {
  fill: #f48a00 !important;
  stroke: #f48a00 !important;
  stroke-width: 2.5 !important;
}

/* Fixed Header */
.app-header {
  background: #b7cee7;
  height: 100px;
  z-index: 1050;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Spacer to avoid content hiding */
.header-spacer {
  height: 105px;
}

/* Logo */
.logo-img {
  width: 90px;
  height: auto;
}

/* APPD Text */
.app-title {
 
  font-weight: 800;
  color: #003b78;
  line-height: 1;
  margin: 0;
}

.app-subtitle {
  font-size: 0.95rem;
  color: #003b78;
  font-weight: 600;
}

/* Navigation */
.nav-link {
  color: #003b78 !important;
  font-weight: 600;
  margin: 0 12px;
  white-space: nowrap;
}

.nav-link:hover {
  color: #002b5c !important;
}

/* Logout Button */
.logout-btn {
  background: #003b78;
  color: #fff;
  border-radius: 6px;
  padding: 8px 24px;
  font-weight: 600;
}

.logout-btn:hover {
  background: #002b5c;
  color: #fff;
}

.nav-link {
  position: relative;
  color: #003b78 !important;
  font-weight: 600;
  margin: 0 12px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: #003b78;
  transition: all 0.3s ease;
  transform: translateX(-50%);
  border-radius: 2px;
}

.nav-link:hover {
  color: #001f4d !important;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  color: #001f4d !important;
}
/* Responsive */
@media (max-width: 991px) {
  .app-header {
    height: auto;
    padding: 15px 0;
  }

  .header-spacer {
    height: 120px;
  }

  .app-title {
    font-size: 2.5rem;
  }

  .logo-img {
    width: 70px;
  }

  .navbar-collapse {
    background: #b7cee7;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
  }

  .nav-link {
    margin: 8px 0;
  }
}

@media (max-width: 576px) {
  .app-title {
    font-size: 2rem;
  }

  .app-subtitle {
    font-size: 0.75rem;
  }

  .logo-img {
    width: 60px;
  }
}

/* Announcement Bar */

.announcement-bar {
  background: #003b78;
  color: #fff;
  padding: 12px 0;
  font-weight: 600;
  overflow: hidden;
}

.announcement-bar marquee {
  flex: 1;
}

/* Main Section */



.population-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(245, 248, 251, 0.88);
}

.population-section .container-fluid {
  position: relative;
  z-index: 2;
}

/* Heading */

.population-heading h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #003b78;
}

.population-heading p {
  color: #64748b;
  font-size: 1.2rem;
  margin-left:45px;
}

.green-dot {
  width: 16px;
  height: 16px;
  background: #2dbb0f;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

/* Counter */

.counter-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.digit-box {
  width: 80px;
  height: 150px;
  background: #182d59;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* Stats Cards */

.stat-card {
  background: rgba(255,255,255,0.9);
  border-radius: 16px;
  padding: 20px;
  min-height: 140px;
}

.stat-card h4 {
  color: #003b78;
  font-weight: 700;
}

.stat-card h2 {
  color: #1e293b;
  font-size: 2.2rem;
  font-weight: 700;
}

.stat-card p {
  color: #003b78;
  margin-bottom: 0;
  font-size: 15px;
}

/* District Table */

.district-title {
  color: #003b78;
  font-weight: 700;
}

.table-card {
  background: rgba(255,255,255,0.9);
  border: 1px solid #3b82f6;
  border-radius: 20px;
  overflow: hidden;
  height: 500px;
}

.table thead {
  background: #f7f7f7;
}

.table th {
  color: #003b78;
  font-weight: 700;
  padding: 18px 24px;
}

.table td {
  padding: 18px 24px;
  color: #475569;
}

.table tbody tr:hover {
  background: rgba(59,130,246,0.05);
}

/* Responsive */

@media(max-width: 992px) {

  .population-heading h1 {
    font-size: 2.4rem;
  }

  .digit-box {
    width: 70px;
    height: 110px;
    font-size: 3.5rem;
  }

  .counter-wrapper {
    justify-content: center;
  }
}

@media(max-width:768px) {

  .population-heading {
    text-align: center;
  }

  .digit-box {
    width: 60px;
    height: 90px;
    font-size: 3rem;
  }

  .district-title {
    text-align: center;
  }
}


/* ==========================
   SECTION
========================== */

.district-map-section {
    background: #f8fafc;
}

/* ==========================
   TITLES
========================== */

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1b2d57;
    margin-bottom: 10px;
}

.section-subtitle {
    color: #64748b;
    font-size: 1.2rem;
}

/* ==========================
   FORM CONTROLS
========================== */

.form-label {
    font-weight: 600;
    color: #334155;
}

.custom-select {
    height: 54px;
    border-radius: 12px;
    border: 1px solid #dbe2ea;
    font-size: 1rem;
}

/* ==========================
   BUTTONS
========================== */

.btn-apply {
    background: #1b2d57;
    color: white;
    height: 54px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
}

.btn-apply:hover {
    background: #102041;
    color: white;
}

.btn-reset {
    background: #e2e8f0;
    color: #475569;
    height: 54px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
}

.btn-export {
    background: #1f9d5a;
    color: white;
    height: 54px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
}

.btn-export:hover {
    background: #16824a;
    color: white;
}

/* ==========================
   EQUAL HEIGHT CARDS
========================== */

.map-card,
.district-panel {
    height: 750px;
}

/* ==========================
   MAP CARD
========================== */

.map-card {
    background: #afbfd2;
    border: 1px dashed #d8dee8;
    border-radius: 18px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.map-image {
    max-height: 680px;
    width: auto;
    object-fit: contain;
}

/* ==========================
   RIGHT PANEL
========================== */

.district-panel {
    background: white;
    border: 1px solid #2f80ed;
    border-radius: 18px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.district-title {
    color: #003b78;
    font-weight: 700;
    margin-bottom: 5px;
}

.district-meta {
    color: #64748b;
    margin-bottom: 20px;
}

/* ==========================
   SUMMARY CARDS
========================== */

.summary-card {
    background: #eef3f8;
    border-radius: 12px;
    padding: 18px;
    height: 100%;
}

.summary-label {
    color: #94a3b8;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}

.summary-card h5 {
    color: #003b78;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.summary-card p {
    color: #64748b;
    margin-bottom: 0;
}

/* ==========================
   TABLE
========================== */

.table-scroll {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}


.table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f7f7f7 !important; /* Your header color */
    color: #003b78;
    box-shadow: 0 2px 2px rgba(0,0,0,0.08); /* Optional */
}
.district-table {
    width: 100%;
}

.district-table thead th {
    position: sticky;
    top: 0;
    z-index: 5;
    background: white;

    color: #94a3b8;
    font-size: 13px;
    font-weight: 700;

    padding: 14px 0;
}

.district-table tbody td {
    padding: 14px 0;
    color: #475569;
    border-bottom: 1px solid #e5e7eb;
    font-size: 1rem;
}

.district-table tbody tr:hover {
    background: rgba(47, 128, 237, 0.05);
}

/* ==========================
   CUSTOM SCROLLBAR
========================== */

.table-scroll::-webkit-scrollbar {
    width: 8px;
}

.table-scroll::-webkit-scrollbar-track {
    background: #edf2f7;
    border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-thumb {
    background: #003b78;
    border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
    background: #002654;
}

/* ==========================
   RESPONSIVE
========================== */

@media (max-width: 1200px) {
    .map-card,
    .district-panel {
        height: 650px;
    }
}

@media (max-width: 992px) {

    .section-title {
        font-size: 2.3rem;
    }

    .map-card,
    .district-panel {
        height: auto;
    }

    .table-scroll {
        max-height: 450px;
    }
}

@media (max-width: 768px) {

    .section-title {
        font-size: 2rem;
    }

    .section-subtitle {
        font-size: 1rem;
    }

    .btn-export,
    .btn-reset,
    .btn-apply {
        width: 100%;
    }
}


::ng-deep .footer {
    position: relative !important;
    height: auto !important;
    display: block !important;
}


.st1, .st3, .st4, .st6, .st7, .st8,
.st9, .st10, .st11, .st12, .st13,
.st14, .st15, .st16, .st17, .st18,
.st19, .st20, .st21, .st22, .st23,
.st24, .st25, .st26, .st27, .st28 {
    fill: #ffffff;
    stroke: #1f3d8f;
    stroke-width: 1.2;
    vector-effect: non-scaling-stroke;
}


#eastGodavariLabel {
    transform: translate(35px, 4px) !important;
    transform-box: fill-box;
}

.counts {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
}

.counts ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

.counts ul li {
    border: 1px solid #363636;
    padding: 5px 5px;
    line-height: 1.2;
    color: #dadada;
}


.table-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.district-table thead th{
    position:sticky;
    top:0;
    z-index:1000;
    background:#f7f7f7;
    color:#003b78;
    font-weight:700;
    box-shadow:0 2px 2px rgba(0,0,0,.08);
}
/* .table-card thead th{
    position:sticky;
    top:0;
    z-index:1000;
    background:#f7f7f7;
    color:#003b78;
    font-weight:700;
    box-shadow:0 2px 2px rgba(0,0,0,.08);
} */
.table-scroll::-webkit-scrollbar {
  width: 8px;
}

.table-scroll::-webkit-scrollbar-track {
  background: #eef2f7;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #003b78;
  border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #002a57;
}



@media (max-width: 1399.98px) { 
  .digit-box {
    width:80px;
  }
  .stat-card p {
    font-size: 10px;
  }
  .summary-card h5 {
    font-size: 1rem;
  }
}


.custom-dropdown {
    position: relative;
}

.custom-dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    margin-top: 0;
    border-radius: 8px;
    min-width: 240px;
    border: none;
    box-shadow: 0 8px 25px rgba(0,0,0,.15);
}

.custom-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-item {
    padding: 10px 18px;
}

.dropdown-item:hover {
    background: #0d6efd;
    color: #fff;
}

.down-icon {
  font-weight: 600;
  font-size: 18px ;
  color:#003b78;
}