
    <div class="row justify-content-center">
        <div class="col-xxl-10 col-lg-10">
            <div class="card login-card mb-0">

                <!-- Logo -->

                <!-- <div class="card-header py-2 text-center bg-light">
                    <a href="javascript:void(0)" routerLink="/home">
                        <span><img src="assets/image/logo.png" alt="logo" height="80"></span>
                    </a>
                </div> -->



                <div class="card-body p-4">
                    <div class="my-auto">
                        <h2 class="mt-0 text-center">Change Password</h2>

                        <form #loginfrmref="ngForm">
                            <div class="mb-2 form-group">
                                <label for="Username" class="form-label">Username</label>
                                <input class="form-control disabled" type="text" appAlphanumericOnly id="username" name="username" required
                                    oncopy="return false" oncut="return false" maxlength="20" autocomplete="off"
                                    [(ngModel)]="Changpassform.username" placeholder="Enter your username" #username="ngModel" [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched),
                        'is-valid': username.value?.length >= 4 && (username.dirty || username.touched)}">


                                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error-message">
                                    <div *ngIf="username.errors">
                                        <div *ngIf="username.errors['required']">
                                            Username is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-2">
                                <label for="newpassword" class="form-label">New Password</label>

                                <div class="form-group mb-0 position-relative">
                                    <span class="toggle-password eye" (click)="toggleFieldTextTypeonelogin()" [ngClass]="{
                                        'inactive' : !fieldTextTypeonelogin,
                                        'active' : fieldTextTypeonelogin}">
                                        <i class="" [ngClass]="{
                                            'uil-eye-slash' : !fieldTextTypeonelogin,
                                            'uil-eye' : fieldTextTypeonelogin}"></i>
                                    </span>
                                    <input class="form-control pass-input" [type]="fieldTextTypeonelogin ? 'text' : 'password'" required
                                        id="newpassword" name="newpassword" oncopy="return false" oncut="return  false" maxlength="15"
                                        autocomplete="off" [(ngModel)]="Changpassform.newpassword" placeholder="Enter your new password"
                                        #newpassword="ngModel" [ngClass]="{'is-invalid': newpassword.invalid && (newpassword.dirty || newpassword.touched),
                              'is-valid': newpassword.value?.length >= 4 && (newpassword.dirty || newpassword.touched)}">


                                    <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)" class="error-message">
                                        <div *ngIf="newpassword.errors">
                                            <div *ngIf="newpassword.errors['required']">
                                                New Password is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="mb-2">
                                <label for="connewpassword" class="form-label">Confirm Password</label>

                                <div class="form-group mb-0 position-relative">
                                    <span class="toggle-password eye" (click)="toggleFieldTextTypeonelogin()" [ngClass]="{
                                        'inactive' : !fieldTextTypeonelogin,
                                        'active' : fieldTextTypeonelogin}">
                                        <i class="" [ngClass]="{
                                            'uil-eye-slash' : !fieldTextTypeonelogin,
                                            'uil-eye' : fieldTextTypeonelogin}"></i>
                                    </span>
                                    <input class="form-control pass-input" [type]="fieldTextTypeonelogin ? 'text' : 'password'" required
                                        id="connewpassword" name="connewpassword" oncopy="return false" oncut="return  false" maxlength="15"
                                        autocomplete="off" [(ngModel)]="Changpassform.connewpassword"
                                        placeholder="Enter your confirm password" #connewpassword="ngModel" [ngClass]="{'is-invalid': connewpassword.invalid && (connewpassword.dirty || connewpassword.touched),
                              'is-valid': connewpassword.value?.length >= 4 && (connewpassword.dirty || connewpassword.touched)}">


                                    <div *ngIf="connewpassword.invalid && (connewpassword.dirty || connewpassword.touched)"
                                        class="error-message">
                                        <div *ngIf="connewpassword.errors">
                                            <div *ngIf="connewpassword.errors['required']">
                                                Confirm Password is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="mb-2">
                                <div class="row">
                                    <!-- <div class="col-xl-4 col-4">
                                        <h3>{{capthform.imgurl}}</h3>
                                    </div>
                                    <div class="col-xl-2 col-2">
                                        <button class="btn btn-primary" type="submit" (click)="Get_captcha()"><i
                                                class="uil-refresh"></i></button>
                                    </div> -->
                                    <div class="col-xl-4 col-4">
                                        <h3 class="captcha-text">{{capthform.imgurl}}</h3>
                                    </div>
                                    <div class="col-xl-2 col-2">
                                        <button class="btn btn-primary" type="submit" (click)="Get_captcha()"><i
                                                class="uil-refresh"></i></button>
                                    </div>
                                    <div class="col-xl-6 col-6">
                                        <input class="form-control" type="text" id="captchvalue" name="captchvalue" required
                                            appNumericsOnlyEnter [(ngModel)]="capthform.captchvalue" title=" Please enter the result here"
                                            oncopy="return false" oncut="return false" #captchvalue="ngModel" autocomplete="off"
                                            name="Conformation" maxlength="2" placeholder="Enter the result here" [ngClass]="{'is-invalid': captchvalue.invalid && (captchvalue.dirty || captchvalue.touched),
                                         'is-valid': captchvalue.value?.length >= 2 && (captchvalue.dirty || captchvalue.touched)}">

                                        <div *ngIf="captchvalue.invalid && (captchvalue.dirty || captchvalue.touched)"
                                            class="error-message">
                                            <div *ngIf="captchvalue.errors">
                                                <div *ngIf="captchvalue.errors['required']">
                                                    result is required.
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="d-grid mb-0 text-center">
                                <button class="btn btn-success" type="submit" (click)="submit_form()"
                                    [disabled]="!loginfrmref.form.valid"><i class="mdi mdi-login"></i> Submit </button>
                            </div>
                            <!-- <div class="d-grid mb-0 text-center" *ngIf="!isotpDisable && !is_send_otp_disable">
                                <button class="btn btn-success" type="submit" (click)="send_otp()" [disabled]="!loginfrmref.form.valid"><i
                                        class="mdi mdi-login"></i>
                                    Send otp </button>
                            </div>
                            <div class="d-grid mb-0 text-center" *ngIf="is_send_otp_disable">
                                <button class="btn btn-success" type="submit" (click)="verify_otp()" [disabled]="!loginfrmref.form.valid"><i
                                        class="mdi mdi-login"></i>
                                    Verify otp </button>
                            </div> -->

                        </form>

                    </div>

                    <!-- <footer class="footer footer-alt">
                <p class="text-muted">Forgot your Username? <a href="javascript:void(0);" class="text-muted ms-1"><b>Reset</b></a></p>
            </footer> -->

                </div>

            </div>
        </div>

    </div>
