<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="page-title-box text-start d-flex justify-content-between align-items-center">
                <h5 class="page-title pe-4" *ngIf="report_dispaly_level == 'state'">
                    District Wise Report - {{ metricName }}
                </h5>
                <h5 class="page-title pe-4" *ngIf="report_dispaly_level == 'district'">
                    Mandal Wise Report - {{ metricName }}
                </h5>
                <h5 class="page-title pe-4" *ngIf="report_dispaly_level == 'Mandal'">
                    Secretariat Wise Report - {{ metricName }}
                </h5>
                <!-- <button class="btn btn-info btn-sm" routerLink="/shared/dashboardseven">
          <i class="uil-dashboard"></i> Dashboard
        </button> -->
                <button class="btn btn-info btn-sm" routerLink="/shared/dashboardnine">
                    <i class="uil-dashboard"></i> Dashboard
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <p-table id="stattbl" [value]="state_level_array" *ngIf="report_dispaly_level == 'state'"
                                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
                                #dt1 [rows]="state_level_array.length"
                                [rowsPerPageOptions]="[10, 20, 30, 40, { showAll: 'All' }]" [paginator]="true"
                                sortMode="multiple"
                                [globalFilterFields]="['DISTRICT_NAME','URBAN_POP','CHILD_DEPENDENCY_RATIO','CHILD_SEX_RATIO','DISTRICT_CODE','HH_SIZE','OLD_AGE_DEPENDENCY_RATIO','RURAL_POP']"
                                [tableStyle]="{ width: '100%' }" [scrollable]="true" scrollHeight="560px">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-6 text-end mt-2"></div>
                                        <div class="col-md-6 text-end mt-2">
                                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="
                          exportTable_toexcel(
                            'stattbl',
                            'District Wise Report - ' + metricName
                          )
                        " class="p-button-success me-1" pTooltip="XLS" tooltipPosition="bottom"></button>
                                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="
                          exportTable_ToPDF(
                            'stattbl',
                            'District Wise Report - ' + metricName
                          )
                        " class="p-button-warning me-1" pTooltip="PDF" tooltipPosition="bottom"></button>
                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                          " placeholder="Search keyword" />
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center" pSortableColumn="SNO">
                                            S No <p-sortIcon field="SNO"></p-sortIcon>
                                        </th>

                                        <th class="text-center" pSortableColumn="DISTRICT_NAME">
                                            District Name
                                            <p-sortIcon field="DISTRICT_NAME"></p-sortIcon>
                                        </th>

                                        <th class="text-center" *ngIf="metricName === 'Population Urban'"
                                            pSortableColumn="URBAN_POP">
                                            Urban
                                            <p-sortIcon field="URBAN_POP"></p-sortIcon>
                                        </th>

                                        <!-- Rural -->
                                        <th class="text-center" pSortableColumn="RURAL_POP"
                                            *ngIf="metricName === 'Population Rural'">
                                            Rural
                                            <p-sortIcon field="RURAL_POP"></p-sortIcon>
                                        </th>

                                        <!-- Household Size -->
                                        <th class="text-center" pSortableColumn="HH_SIZE"
                                            *ngIf="metricName === 'Household Size'">
                                            Household Size
                                            <p-sortIcon field="HH_SIZE"></p-sortIcon>
                                        </th>

                                        <!-- Child Sex Ratio -->
                                        <th class="text-center" pSortableColumn="CHILD_SEX_RATIO"
                                            *ngIf="metricName === 'Child Sex Ratio'">
                                            Child Sex Ratio
                                            <p-sortIcon field="CHILD_SEX_RATIO"></p-sortIcon>
                                        </th>

                                        <!-- Child Dependency -->
                                        <th class="text-center" pSortableColumn="CHILD_DEPENDENCY_RATIO"
                                            *ngIf="metricName === 'Child Dependency'">
                                            Child Dependency
                                            <p-sortIcon field="CHILD_DEPENDENCY_RATIO"></p-sortIcon>
                                        </th>

                                        <!-- Old-age Dependency -->
                                        <th class="text-center" pSortableColumn="OLD_AGE_DEPENDENCY_RATIO"
                                            *ngIf="metricName === 'Old-age Dependency'">
                                            Old-age Dependency
                                            <p-sortIcon field="OLD_AGE_DEPENDENCY_RATIO"></p-sortIcon>
                                        </th>


                                        <!-- Household with Senior Citizen -->
                                        <th class="text-center" pSortableColumn="HH_WITH_SENIOUR_CITY"
                                            *ngIf="metricName === 'Household with Senior Citizen'">
                                            Household with Senior Citizen
                                            <p-sortIcon field="HH_WITH_SENIOUR_CITY"></p-sortIcon>
                                        </th>

                                        <!-- Orphan/Child-headed Household -->
                                        <th class="text-center" pSortableColumn="ORPHAN_CHILD"
                                            *ngIf="metricName === 'Orphan/Child-headed Household'">
                                            Orphan/Child-headed Household
                                            <p-sortIcon field="ORPHAN_CHILD"></p-sortIcon>
                                        </th>

                                        <!-- Transgender Population -->
                                        <th class="text-center" pSortableColumn="TRANSGENDER_COUNT"
                                            *ngIf="metricName === 'Transgender Population'">
                                            Transgender Population
                                            <p-sortIcon field="TRANSGENDER_COUNT"></p-sortIcon>
                                        </th>


                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-report let-rowIndex="rowIndex">
                                    <tr>
                                        <td class="text-center">{{ report.SNO }}</td>

                                        <td class="text-left">
                                            <a (click)="get_districtlevel(report)" class="text-success fw-bold">{{
                                                report.DISTRICT_NAME }}</a>
                                        </td>
                                        <td class="text-center" *ngIf="metricName === 'Population Urban'">
                                            {{ report.URBAN_POP }}
                                        </td>
                                        <!-- Rural -->
                                        <td class="text-center" *ngIf="metricName === 'Population Rural'">
                                            {{ report.RURAL_POP }}
                                        </td>

                                        <!-- Household Size -->
                                        <td class="text-center" *ngIf="metricName === 'Household Size'">
                                            {{ report.HH_SIZE }}
                                        </td>

                                        <!-- Child Sex Ratio -->
                                        <td class="text-center" *ngIf="metricName === 'Child Sex Ratio'">
                                            {{ report.CHILD_SEX_RATIO }}
                                        </td>

                                        <!-- Child Dependency -->
                                        <td class="text-center" *ngIf="metricName === 'Child Dependency'">
                                            {{ report.CHILD_DEPENDENCY_RATIO }}
                                        </td>

                                        <!-- Old-age Dependency -->
                                        <td class="text-center" *ngIf="metricName === 'Old-age Dependency'">
                                            {{ report.OLD_AGE_DEPENDENCY_RATIO }}
                                        </td>

                                        <!-- Household with Senior Citizen -->
                                        <td class="text-center" *ngIf="metricName === 'Household with Senior Citizen'">
                                            {{ report.HH_WITH_SENIOUR_CITY }}
                                        </td>

                                        <!-- Orphan/Child-headed Household -->
                                        <td class="text-center" *ngIf="metricName === 'Orphan/Child-headed Household'">
                                            {{ report.ORPHAN_CHILD }}
                                        </td>

                                        <!-- Transgender Population -->
                                        <td class="text-center" *ngIf="metricName === 'Transgender Population'">
                                            {{ report.TRANSGENDER_COUNT }}
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>

                            <p-table id="distrcittbl" [value]="district_level_array"
                                *ngIf="report_dispaly_level == 'district'" rowGroupMode="rowspan"
                                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
                                #dt2 [rows]="district_level_array.length" [rowsPerPageOptions]="[
                  district_level_array.length,
                  20,
                  30,
                  40,
                  { showAll: 'All' }
                ]" [paginator]="true" sortMode="multiple"
                                [globalFilterFields]="['DISTRICT_NAME','URBAN_POP','CHILD_DEPENDENCY_RATIO','CHILD_SEX_RATIO','DISTRICT_CODE','HH_SIZE','OLD_AGE_DEPENDENCY_RATIO','RURAL_POP']"
                                [tableStyle]="{ 'min-width': '75rem', 'min-height': '90%' }" [scrollable]="true"
                                scrollHeight="560px">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <a href="javascript:void()" (click)="backstate()"><i
                                                    class="fa-solid fa-arrow-left pe-2"></i></a>
                                        </div>
                                        <div class="col-md-3">
                                            <h5 class="page-title">
                                                <span class="text-success">District Name</span> :
                                                {{ district_name }}
                                            </h5>
                                        </div>
                                        <div class="col-md-2"></div>

                                        <div class="col-md-6 text-end mt-2">
                                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="
                          exportTable_toexcel(
                            'distrcittbl',
                            'Mandal Wise Report -' + metricName
                          )
                        " class="p-button-success me-1" pTooltip="XLS" tooltipPosition="bottom"></button>
                                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="
                          exportTable_ToPDF(
                            'distrcittbl',
                            'Mandal Wise Report -' + metricName
                          )
                        " class="p-button-warning me-1" pTooltip="PDF" tooltipPosition="bottom"></button>
                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                          " placeholder="Search keyword" />
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center" pSortableColumn="SNO">
                                            S No <p-sortIcon field="SNO"></p-sortIcon>
                                        </th>

                                        <th class="text-center" pSortableColumn="MANDAL_NAME">
                                            Mandal Name <p-sortIcon field="MANDAL_NAME"></p-sortIcon>
                                        </th>
                                        <th class="text-center" pSortableColumn="URBAN_RURAL">
                                            Urban Rural <p-sortIcon field="URBAN_RURAL"></p-sortIcon>
                                        </th>

                                        <th class="text-center" *ngIf="metricName === 'Population Urban'"
                                            pSortableColumn="URBAN_POP">
                                            Urban
                                            <p-sortIcon field="URBAN_POP"></p-sortIcon>
                                        </th>

                                        <!-- Rural -->
                                        <th class="text-center" pSortableColumn="RURAL_POP"
                                            *ngIf="metricName === 'Population Rural'">
                                            Rural
                                            <p-sortIcon field="RURAL_POP"></p-sortIcon>
                                        </th>



                                        <!-- Household Size -->
                                        <th class="text-center" pSortableColumn="HH_SIZE"
                                            *ngIf="metricName === 'Household Size'">
                                            Household Size
                                            <p-sortIcon field="HH_SIZE"></p-sortIcon>
                                        </th>

                                        <!-- Child Sex Ratio -->
                                        <th class="text-center" pSortableColumn="CHILD_SEX_RATIO"
                                            *ngIf="metricName === 'Child Sex Ratio'">
                                            Child Sex Ratio
                                            <p-sortIcon field="CHILD_SEX_RATIO"></p-sortIcon>
                                        </th>

                                        <!-- Child Dependency -->
                                        <th class="text-center" pSortableColumn="CHILD_DEPENDENCY_RATIO"
                                            *ngIf="metricName === 'Child Dependency'">
                                            Child Dependency
                                            <p-sortIcon field="CHILD_DEPENDENCY_RATIO"></p-sortIcon>
                                        </th>

                                        <!-- Old-age Dependency -->
                                        <th class="text-center" pSortableColumn="OLD_AGE_DEPENDENCY_RATIO"
                                            *ngIf="metricName === 'Old-age Dependency'">
                                            Old-age Dependency
                                            <p-sortIcon field="OLD_AGE_DEPENDENCY_RATIO"></p-sortIcon>
                                        </th>

                                        <!-- Household with Senior Citizen -->
                                        <th class="text-center" pSortableColumn="HH_WITH_SENIOUR_CITY"
                                            *ngIf="metricName === 'Household with Senior Citizen'">
                                            Household with Senior Citizen
                                            <p-sortIcon field="HH_WITH_SENIOUR_CITY"></p-sortIcon>
                                        </th>

                                        <!-- Orphan/Child-headed Household -->
                                        <th class="text-center" pSortableColumn="ORPHAN_CHILD"
                                            *ngIf="metricName === 'Orphan/Child-headed Household'">
                                            Orphan/Child-headed Household
                                            <p-sortIcon field="ORPHAN_CHILD"></p-sortIcon>
                                        </th>

                                        <!-- Transgender Population -->
                                        <th class="text-center" pSortableColumn="TRANSGENDER_COUNT"
                                            *ngIf="metricName === 'Transgender Population'">
                                            Transgender Population
                                            <p-sortIcon field="TRANSGENDER_COUNT"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-report let-rowIndex="rowIndex" let-rowgroup="rowgroup"
                                    let-rowspan="rowspan">
                                    <tr>
                                        <td class="text-center">{{ report.SNO }}</td>
                                        <td class="text-left">
                                            <a (click)="get_mandallevel(report)" class="text-success fw-bold">{{
                                                report.MANDAL_NAME }}</a>
                                        </td>
                                        <td class="text-center">{{ report.URBAN_RURAL }}</td>

                                        <td class="text-center" *ngIf="metricName === 'Population Urban'">
                                            {{ report.URBAN_POP }}
                                        </td>

                                        <!-- Rural -->
                                        <td class="text-center" *ngIf="metricName === 'Population Rural'">
                                            {{ report.RURAL_POP }}
                                        </td>

                                        <!-- Household Size -->
                                        <td class="text-center" *ngIf="metricName === 'Household Size'">
                                            {{ report.HH_SIZE }}
                                        </td>

                                        <!-- Child Sex Ratio -->
                                        <td class="text-center" *ngIf="metricName === 'Child Sex Ratio'">
                                            {{ report.CHILD_SEX_RATIO }}
                                        </td>

                                        <!-- Child Dependency -->
                                        <td class="text-center" *ngIf="metricName === 'Child Dependency'">
                                            {{ report.CHILD_DEPENDENCY_RATIO }}
                                        </td>

                                        <!-- Old-age Dependency -->
                                        <td class="text-center" *ngIf="metricName === 'Old-age Dependency'">
                                            {{ report.OLD_AGE_DEPENDENCY_RATIO }}
                                        </td>

                                        <!-- Household with Senior Citizen -->
                                        <td class="text-center" *ngIf="metricName === 'Household with Senior Citizen'">
                                            {{ report.HH_WITH_SENIOUR_CITY }}
                                        </td>

                                        <!-- Orphan/Child-headed Household -->
                                        <td class="text-center" *ngIf="metricName === 'Orphan/Child-headed Household'">
                                            {{ report.ORPHAN_CHILD }}
                                        </td>

                                        <!-- Transgender Population -->
                                        <td class="text-center" *ngIf="metricName === 'Transgender Population'">
                                            {{ report.TRANSGENDER_COUNT }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <p-table id="mandaltbl" [value]="mandal_level_array"
                                *ngIf="report_dispaly_level == 'Mandal'"
                                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
                                #dt3 [rows]="mandal_level_array.length" [rowsPerPageOptions]="[
                  mandal_level_array.length,
                  20,
                  30,
                  40,
                  { showAll: 'All' }
                ]" [paginator]="true" sortMode="multiple"
                                [globalFilterFields]="['DISTRICT_NAME','URBAN_POP','CHILD_DEPENDENCY_RATIO','CHILD_SEX_RATIO','DISTRICT_CODE','HH_SIZE','OLD_AGE_DEPENDENCY_RATIO','RURAL_POP']"
                                [tableStyle]="{ 'min-width': '75rem', 'min-height': '90%' }" [scrollable]="true"
                                scrollHeight="560px">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <a href="javascript:void()" (click)="backdistrict()"><i
                                                    class="fa-solid fa-arrow-left pe-2"></i></a>
                                        </div>
                                        <div class="col-md-3">
                                            <h5 class="page-title">
                                                <span class="text-success">District Name</span> :
                                                {{ district_name }}
                                            </h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5 class="page-title">
                                                <span class="text-success">Mandal Name </span>:
                                                {{ mandal_name }}
                                            </h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5 class="page-title">
                                                <span class="text-success">Urban Rural </span>:
                                                {{ Urban_Rural }}
                                            </h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8"></div>
                                            <div class="col-md-4 text-end mt-2">
                                                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="
                            exportTable_toexcel(
                              'mandaltbl',
                              'Secretariat Wise Report -' + metricName
                            )
                          " class="p-button-success me-1" pTooltip="XLS" tooltipPosition="bottom"></button>
                                                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="
                            exportTable_ToPDF(
                              'mandaltbl',
                              'Secretariat Wise Report -' + metricName
                            )
                          " class="p-button-warning me-1" pTooltip="PDF" tooltipPosition="bottom"></button>
                                                <span class="p-input-icon-left">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" (input)="
                              dt1.filterGlobal($event.target.value, 'contains')
                            " placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center" pSortableColumn="SNO">
                                            S No <p-sortIcon field="SNO"></p-sortIcon>
                                        </th>

                                        <th class="text-center" pSortableColumn="SECRETARIAT_NAME">
                                            Secretariat Name
                                            <p-sortIcon field="SECRETARIAT_NAME"></p-sortIcon>
                                        </th>

                                        <th class="text-center" *ngIf="metricName === 'Population Urban'"
                                            pSortableColumn="URBAN_POP">
                                            Urban
                                            <p-sortIcon field="URBAN_POP"></p-sortIcon>
                                        </th>


                                        <!-- Rural -->
                                        <th class="text-center" pSortableColumn="RURAL_POP"
                                            *ngIf="metricName === 'Population Rural'">
                                            Rural
                                            <p-sortIcon field="RURAL_POP"></p-sortIcon>
                                        </th>

                                        <!-- Household Size -->
                                        <th class="text-center" pSortableColumn="HH_SIZE"
                                            *ngIf="metricName === 'Household Size'">
                                            Household Size
                                            <p-sortIcon field="HH_SIZE"></p-sortIcon>
                                        </th>

                                        <!-- Child Sex Ratio -->
                                        <th class="text-center" pSortableColumn="CHILD_SEX_RATIO"
                                            *ngIf="metricName === 'Child Sex Ratio'">
                                            Child Sex Ratio
                                            <p-sortIcon field="CHILD_SEX_RATIO"></p-sortIcon>
                                        </th>

                                        <!-- Child Dependency -->
                                        <th class="text-center" pSortableColumn="CHILD_DEPENDENCY_RATIO"
                                            *ngIf="metricName === 'Child Dependency'">
                                            Child Dependency
                                            <p-sortIcon field="CHILD_DEPENDENCY_RATIO"></p-sortIcon>
                                        </th>

                                        <!-- Old-age Dependency -->
                                        <th class="text-center" pSortableColumn="OLD_AGE_DEPENDENCY_RATIO"
                                            *ngIf="metricName === 'Old-age Dependency'">
                                            Old-age Dependency
                                            <p-sortIcon field="OLD_AGE_DEPENDENCY_RATIO"></p-sortIcon>
                                        </th>

                                        <!-- Household with Senior Citizen -->
                                        <th class="text-center" pSortableColumn="HH_WITH_SENIOUR_CITY"
                                            *ngIf="metricName === 'Household with Senior Citizen'">
                                            Household with Senior Citizen
                                            <p-sortIcon field="HH_WITH_SENIOUR_CITY"></p-sortIcon>
                                        </th>

                                        <!-- Orphan/Child-headed Household -->
                                        <th class="text-center" pSortableColumn="ORPHAN_CHILD"
                                            *ngIf="metricName === 'Orphan/Child-headed Household'">
                                            Orphan/Child-headed Household
                                            <p-sortIcon field="ORPHAN_CHILD"></p-sortIcon>
                                        </th>

                                        <!-- Transgender Population -->
                                        <th class="text-center" pSortableColumn="TRANSGENDER_COUNT"
                                            *ngIf="metricName === 'Transgender Population'">
                                            Transgender Population
                                            <p-sortIcon field="TRANSGENDER_COUNT"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-report let-rowIndex="rowIndex" let-rowgroup="rowgroup"
                                    let-rowspan="rowspan">
                                    <tr>
                                        <td class="text-center">{{ report.SNO }}</td>

                                        <td class="text-left">{{ report.SECRETARIAT_NAME }}</td>
                                        <td class="text-center" *ngIf="metricName === 'Population Urban'">
                                            {{ report.URBAN_POP }}
                                        </td>
                                        <!-- Rural -->
                                        <td class="text-center" *ngIf="metricName === 'Population Rural'">
                                            {{ report.RURAL_POP }}
                                        </td>

                                        <!-- Household Size -->
                                        <td class="text-center" *ngIf="metricName === 'Household Size'">
                                            {{ report.HH_SIZE }}
                                        </td>

                                        <!-- Child Sex Ratio -->
                                        <td class="text-center" *ngIf="metricName === 'Child Sex Ratio'">
                                            {{ report.CHILD_SEX_RATIO }}
                                        </td>

                                        <!-- Child Dependency -->
                                        <td class="text-center" *ngIf="metricName === 'Child Dependency'">
                                            {{ report.CHILD_DEPENDENCY_RATIO }}
                                        </td>

                                        <!-- Old-age Dependency -->
                                        <td class="text-center" *ngIf="metricName === 'Old-age Dependency'">
                                            {{ report.OLD_AGE_DEPENDENCY_RATIO }}
                                        </td>

                                        <!-- Household with Senior Citizen -->
                                        <td class="text-center" *ngIf="metricName === 'Household with Senior Citizen'">
                                            {{ report.HH_WITH_SENIOUR_CITY }}
                                        </td>

                                        <!-- Orphan/Child-headed Household -->
                                        <td class="text-center" *ngIf="metricName === 'Orphan/Child-headed Household'">
                                            {{ report.ORPHAN_CHILD }}
                                        </td>

                                        <!-- Transgender Population -->
                                        <td class="text-center" *ngIf="metricName === 'Transgender Population'">
                                            {{ report.TRANSGENDER_COUNT }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>