<section class="mainreg-section">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <h2 class=" text-center">Registrations</h2>
            <div class="col-xl-6 col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-12 text-center">
                        <div class="card birth" routerLink="/reg/birth-registration">
                            <div class="card-body">
                                <img src="assets/images/birth.png" alt="">
                             <h4><a href="javascript:void()" class="text-white">Birth Registration Form</a></h4>
                             <!-- <i class="fa-solid fa-arrow-left position-absolute start-0 top-0 bottom-0 m-auto w-auto h-auto fs-2 me-3 text-white" style="height: fit-content; display: inline-table"></i> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-12">
                     <div class="card birth-steps">
                        <div class="card-header">
                            <h3 class="text-white">How to register Birth Form</h3>
                        </div>
                        <div class="card-body">
                            <ul class="">
                               <li>
                                <div class="">
                                    <h4>1.Obtain the Birth Registration Form</h4>
                                    <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Visit your local birth registration office, municipal office, or health department.</p>
                                </div>
                               </li>
                               <li>
                                <div class="">
                                    <h4>2.Fill Out the Registration Form</h4>
                                    <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Child’s name</p>
                                    <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Gender</p>
                                    <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Date and place of birth</p>
                                    <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Parents' information (names, addresses, etc.)</p>
                                </div>
                               </li>
                               <li>
                                <div class="">
                                <h4>3. Submit Supporting Documents</h4>
                                  <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Proof of Birth</p>
                                  <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Parental IDs</p>
                                  <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Marriage Certificate (if applicable)</p>
                                </div>
                               </li>
                               <li>
                                <h4>4. Pay the Registration Fee</h4>
                               </li>
                               <li>
                                <h4>5. Receive the Birth Certificate</h4>
                               </li>
                            </ul>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-6 text-center">
                        <div class="card death" routerLink="/reg/death-registration">
                            <div class="card-body">
                                <img src="assets/images/death.png" alt="">
                                <h4><a href="javascript:void()" class="text-white">Death Registration Form</a></h4>
                                <!-- <i class="fa-solid fa-arrow-right position-absolute end-0 top-0 bottom-0 m-auto w-auto h-auto fs-2 me-3 text-white" style="height: fit-content; display: inline-table"></i> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-12">
                     <div class="card death-steps">
                        <div class="card-header">
                            <h3 class="text-white">How to register Death Form</h3>
                        </div>
                        <div class="card-body">
                            <ul class="">
                               <li>
                                <div class="">
                                    <h4>1. Obtain the Death Registration Form</h4>
                                    <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Visit your local birth registration office, municipal office, or health department.</p>
                                </div>
                               </li>
                               <li>
                                <div class="">
                                    <h4>2.Fill Out the Registration Form</h4>
                                    <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Provide the details of the deceased, including name, age, gender, and cause of death.</p>
                                    <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Mention the relationship of the informant to the deceased.</p>
                                </div>
                               </li>
                               <li>
                                <div class="">
                                <h4>3. Submit Supporting Documents</h4>            
                                 <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Medical Certificate of Cause of Death</p>
                                 <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Deceased’s ID proof</p>
                                 <p class="mb-0"><i class="fa-solid fa-arrow-right pe-2"></i>Informant’s ID proof (if necessary)</p>
                                </div>
                               </li>
                               <li>
                                <h4>4. Pay the Registration Fee</h4>
                               </li>
                               <li>
                                <h4>5. Receive the Death Certificate</h4>
                               </li>
                            </ul>
                        </div>
                     </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
