.img-fluid {
    max-width: 100%;
    height: 150px;
    border-radius: 8px;
    width: 100%;
  }
  ::ng-deep .fancybox__container {
    z-index: 1056 !important;
  }
  
  .modal-xxl {
    min-width: 1400px !important;
  }
  
  
  ::ng-deep .has-iframe .fancybox__content,
  ::ng-deep .has-map .fancybox__content,
  ::ng-deep .has-pdf .fancybox__content {
    min-height: 750px;
  }
  
  ::ng-deep .fancybox__html5video,
  ::ng-deep .fancybox__iframe {
    min-height: 720px;
  }