<div class="col-xl-12 col-lg-12" >
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-12">
            <div class="Scriptcontent">

                <div class="step step-active">
                    <div>
                        <div class="circle"><i class="mdi mdi-check"></i></div>
                    </div>
                    <div>
                        <div class="title">Legal</div>
                        <div class="caption">23-12-2024 01:00 PM</div>
                    </div>
                </div>
                <div class="step step-active">
                    <div>
                        <div class="circle">2</div>
                    </div>
                    <div>
                        <div class="title">Statistical</div>
                        <div class="caption">23-12-2024 01:00 PM</div>
                    </div>
                </div>
                <div class="step">
                    <div>
                        <div class="circle">3</div>
                    </div>
                    <div>
                        <div class="title">Statistical-Draft</div>
                        <div class="caption">23-12-2024 01:00 PM</div>
                    </div>
                </div>

                <div class="step">
                    <div>
                        <div class="circle">4</div>
                    </div>
                    <div>
                        <div class="title">Submitted for registration</div>
                        <div class="caption">23-12-2024 01:00 PM</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
 